*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container1{
    width: 100%;
    height: 70vh;
    background-color: #EEEEEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.hero{
    width: 500px;
    height: auto;
}

.text{
    width: 250px;
    height: auto;
}

h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #52268B;
}

p{
    font-size: 17px;
    margin-bottom: 10px;
    color: #6936AC; 
}

button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #52268B;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
}

button:hover{
    font-weight: 600;
    cursor: pointer;
}

.area{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.product1{
    width: 25%;
    height: 30vh;
    background-color: #F15412;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product2{
    width: 25%;
    height: 30vh;
    background-color: #FFC600;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product3{
    width: 25%;
    height: 30vh;
    background-color: #34B3F1;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product4{
    width: 25%;
    height: 30vh;
    background-color: #F806CC;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pd{
    width: 100px;
    height: auto;
}

h3{
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}


@media (max-width:800px){
    .container1{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .hero{
        width: 300px;
        height: auto;
    } 

    .product1{
        width: 50%;
    }
    .product2{
        width: 50%;
    }
    .product3{
        width: 50%;
    }
    .product4{
        width: 50%;
    }
}

@media (max-width:400px){
    .container1{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .hero{
        width: 300px;
        height: auto;
    } 

    .product1{
        width: 100%;
    }
    .product2{
        width: 100%;
    }
    .product3{
        width: 100%;
    }
    .product4{
        width: 100%;
        padding-bottom: 10px;
    }
}